<!DOCTYPE html>
<html>

<head>
    <title>Travels</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/belt_exam/style.css" />
</head>

<body>
    <a href="{% url 'register' %}" class="nav-links">Logout</a>
    <h1 id="main-header">Hello, {{ current_user.first_name }}</h1>
    <div class="col-6">
        <h4>Your Trip Schedules</h4>
        <table class="table">
            <tr>
                <th>Destination</th>
                <th>Travel Start Date</th>
                <th>Travel End Date</th>
                <th>Plan</th>
            </tr>
            <tbody>
                {% for travel in my_trips %}

                <tr>
                    <td><a href="{% url 'destination' id=travel.id %}">{{ travel.destination }}</a></td>
                    <td>{{ travel.start_date }}</td>
                    <td>{{ travel.end_date }}</td>
                    <td>{{ travel.plan }}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <h4>Other Users Travel Plans</h4>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Destination</th>
                <th>Travel Start Date</th>
                <th>Travel End Date</th>
                <th>Plan</th>
                <th>Do you want to join?</th>
            </tr>
            <tbody>
                {% for travel in travels %}
                <tr>
                    <td>{{ travel.user.first_name }} {{ travel.user.last_name }}</td>
                    <td><a href="{% url 'destination' id=travel.id %}">{{ travel.destination }}</a></td>
                    <td>{{ travel.start_date }}</td>
                    <td>{{ travel.end_date }}</td>
                    <td>{{ travel.plan }}</td>
                    <td>
                        <form action="{% url 'travelers' id=travel.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="join">

                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'add_plan' %}" class="nav-links">Add Travel Plan</a>
</body>

</html>